.react-calendar {
    width: 100%;
}
.calendar {
    width: 100%;
}
.tile {
    display: flex;
    height: 10em;
    text-align: left;
    vertical-align: text-top;
}
.modal-popup {
    width: 80%; 
    height: 30em;
}
